.wrap{
    width:960px;
    margin:auto;
    display:flex;
}
.h1{
    font-size:100px;
}
.clearfix{
    width: 100%;
    clear: both;
}
.item{
    width:1000px;
    margin:0 20px 20px ;
    background-color:aliceblue;
}
